<!DOCTYPE html>
<!-- docs.ejs -->
<html class="no-js" lang="">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-145358157-1');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      <%= mdPageTitle.title %>
    </title>
    <meta name="description" content="<%= packageDesc %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/sloth.min.css">
  </head>

  <body>

    <nav>
      <a href="index.html">
        <img src="apple-touch-icon.png"/>
        <b><%= identifier %></b>
      </a>
      <% if ( hasHeadings ) { %>
        <% mdHeadings.forEach(function(heading) { %>
        <a href="#<%= heading.id %>">
                <%= heading.title %></a>
        <% }) %>
      <% } %>
      <hr>

      <% if (identifier !== "elioWay") { %>
        <% if (subjectOf !== "elioway") { %>
          <% if (subjectOf !== identifier) { %>

           <a href="/<%= subjectOf %>">
            <img src="/<%= subjectOf %>/apple-touch-icon.png"/>
            <b><%= subjectOf %></b>
          </a>
          <% } %>
        <% } %>
      <% } %>

      <nav>
        <% Object.keys(chisel).forEach(function(key) { %>
          <% if (key !== "Home"){ %>
            <label><%= key %></label>
            <nav>
              <% chisel[key].forEach(function(mod) { %>
                <% if (identifier !== mod) { %>
                  <a href="/<%= subjectOf %>/<%= mod %>">
                    <img src="/<%= subjectOf %>/<%= mod %>/favicoff.png"/>
                    <b><%= mod %></b>
                  </a>
                <% } %>
              <% }) %>
            </nav>
          <% } %>
        <% }) %>
      </nav>
    </nav>

    <%- mdHTML %>

    <footer>
      <a href="<%= repository %>">GitLab</a> |
      <a href="/contributing.html">Contribute</a> |
      <a href="credits.html">Credits</a>
      <img src="elio-<%= identifier.replace('elio', '') %>-logo.png">
      <label>&copy; <%= new Date().getFullYear();%> Made **the elioWay**</label>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>

  </body>

</html>
