<!DOCTYPE html>
<!-- home.ejs -->
<html class="no-js" lang="">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-145358157-1');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      <%= mdPageTitle.title %>
    </title>
    <meta name="description" content="<%= packageDesc %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/rei.min.css">
    <style>
        img[alt="notstarted"] {
          width: 50px; height: 50px;
        }
        img[alt="experimental"] {
          width: 50px; height: 50px;
        }
        img[alt="alpha"] {
          width: 50px; height: 50px;
        }
        img[alt="beta"] {
          width: 50px; height: 50px;
        }
        img[alt="rc"] {
          width: 50px; height: 50px;
        }
        img[alt="release"] {
          width: 50px; height: 50px;
        }
    </style>
  </head>

  <body>

    <menu>
      <nav>
        <label><img src="/apple-touch-icon.png"/>Ways</label>
        <nav>
          <% if (identifier !== "elioWay") { %>
            <a href="/">
              <img src="/apple-touch-icon.png"/>
              <b>Way</b>
            </a>
          <% } %>
          <% [ "elioangels", "eliosin", "eliothing", "eliobones", "elioflesh"].forEach(function(way) { %>
            <% if (identifier !== way) { %>
              <a href="/<%= way.toLowerCase() %>">
                <img src="/<%= way.toLowerCase() %>/apple-touch-icon.png"/>
                <b><%= way %></b>
              </a>
            <% } %>
          <% }) %>
        </nav>
      </nav>
      <% Object.keys(chisel).forEach(function(pageSection) { %>
        <% if (pageSection == "Home") { %>
          <% if (
                subjectOf.toLowerCase() !== identifier.toLowerCase() &&
                subjectOf.toLowerCase() !== "elioway"
          ) { %>
            <nav>
              <a href="/<%= subjectOf %>">
                <img src="/<%= subjectOf %>/apple-touch-icon.png"/>
                <b><%= subjectOf %></b>
              </a>
            </nav>
          <% } %>
        <% } else { %>
          <nav>
            <label>
              <img src="/<%= identifier.toLowerCase() %>/apple-touch-icon.png"/><%= pageSection %>
            </label>
            <nav>
            <% chisel[pageSection].forEach(function(mod) { %>
              <% if (identifier !== mod) { %>
                <a href="/<%= identifier.toLowerCase() %>/<%= mod %>">
                  <img src="/<%= identifier.toLowerCase() %>/<%= mod %>/apple-touch-icon.png"/>
                  <b><%= mod %></b>
                </a>
              <% } %>
            <% }) %>
            </nav>
          </nav>
          <% } %>
      <% }) %>

      <nav>
        <a>
          <img src="apple-touch-icon.png"/>
          <b><%= identifier %></b>
        </a>
      </nav>
      <a href="quickstart.html">Quickstart</a>
      <a href="contributing.html">Contribute</a>
    </menu>

    <img src="./artwork/splash.jpg" alt="elioWay" style="min-width:100%">

    <figure>
      <img src="star.png" alt="elioWay">
    </figure>

    <h1><%= identifier %> <sup><img src="/eliosin/icon/devops/<%= lifecycle %>/favicoff.png" alt="<%= lifecycle %>" /></sup></h1>

    <%- mdHTML %>

    <footer>
      <a href="<%= repository %>">GitLab</a> | <a href="credits.html">Credits</a>
      <img src="elio-<%= identifier.replace('elio', '') %>-logo.png">
      <label>&copy; <%= new Date().getFullYear();%> Made **the elioWay**</label>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>

  </body>

</html>
